<div class="container-fluid">
    <div class="text-center text-white py-md-4 py-4">
        <h3>TIC TAC TOE GAME</h3>
    </div>
</div>
<div *ngIf="game" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card p-4">
                <div class="card-body py-auto">
                    <div class="container-fluid" *ngIf="null == message">
                        <div class="row">
                            <div class="col border border-dark text-center" [ngClass]="{'bg-success': game.firstPlayer == game.currentPlayer, 
                            'bg-danger': game.firstPlayer != game.currentPlayer}">{{game.firstPlayer}} :
                                {{game.firstPlayerBoardValue}}</div>
                            <div class="col border border-dark text-center" [ngClass]="{'bg-success': game.secondPlayer == game.currentPlayer, 
                            'bg-danger': game.secondPlayer != game.currentPlayer}">{{game.secondPlayer}} :
                                {{"X" === game.firstPlayerBoardValue ? "O" : "X"}}</div>
                        </div>
                        <div class="row">
                            <div class="col border border-dark">
                                <app-game-board [board]="game.board" (onClickEvent)="onClickEventHandler($event)">
                                </app-game-board>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" *ngIf="null != message">
                        <div class="row">
                            <div class="col">
                                <div class="jumbotron vertical-center">
                                    <div class="container-fluid text-center border border-dark m-0 p-3">
                                        <h2>{{message}}</h2>
                                        <button class="btn btn-outline-success btn-block" (click)="play()">
                                            Start New Game</button>
                                        <button class="btn btn-outline-danger btn-block"
                                            (click)="thankyou()">Quit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>